.footer{
    padding: 30px 150px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.footer button {
    background-color: orange;
    border: none;
    outline: none;
    color: white;
    padding: 5px 50px;
    cursor: pointer;
    margin-top: 30px;
}